In [11]:
# Python Collections;
# List
    # - Indexing  -Multiple and duplicate  -Ordered  - Mutable data type(easily changeable)(its orginal state or orientation can change)
     
# Tuple
# Dict
# Set

In [25]:
l = list()   #empty list
#multiple, duplicate and ordered
list1 = [1,2,3,4,5,6,7, 1, 2] 
list2 = ["Apple", "Banana", "Orange", "Mango", "Apple"]
print(list1)
print(list2)
print(type(list1))
print(type(list2))

[1, 2, 3, 4, 5, 6, 7, 1, 2]
['Apple', 'Banana', 'Orange', 'Mango', 'Apple']
<class 'list'>
<class 'list'>

In [24]:
#indexing
list2 = ["Apple", "Banana", "Orange", "Mango", "Apple", "Cherry"]
print(list2[0])
print(list2[0:3])
print(list2[0:6:2])
print(list2[-1])

Apple
['Apple', 'Banana', 'Orange']
['Apple', 'Orange', 'Apple']
Cherry

In [22]:
a = [1,2,3]
b = [4,5,6]
c = a+b   #concatenation
print(c)

[1, 2, 3, 4, 5, 6]

In [23]:
a = ["Hello", "World"]
print(a*2)   #enlargement

['Hello', 'World', 'Hello', 'World']

In [26]:
b = ["Apple", "Ball", "Cat"]
for i in b:
    print(i)

Apple
Ball
Cat

In [44]:
l = []
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l = l + [x]
    print(l)
print(l)

Enter n = 4
Enter x = 10

[10]

Enter x = 20

[10, 20]

Enter x = 50

[10, 20, 50]

Enter x = 30

[10, 20, 50, 30]
[10, 20, 50, 30]

In [45]:
#Mutable (all the code here on forth shows that list is mutable)
print("Min value =", min(l))
print("Max value =", max(l))
print("Sum of value =", sum(l))
l.sort()
print(l)
l.reverse()
print(l)
#data should be only one type when sorting

Min value = 10
Max value = 50
Sum of value = 110
[10, 20, 30, 50]
[50, 30, 20, 10]

In [4]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a.sort()
print(a)

['Aakash', 'Apple', 'Banana', 'Xray', 'Zebra', 'watch']

In [5]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a.reverse()
print(a)

['watch', 'Xray', 'Zebra', 'Aakash', 'Apple', 'Banana']

In [8]:
# CRUD operation
# C - Create: append(), insert(), extend()
# R - Read
# U - Update
# D - Delete

In [18]:
#append()
l =[]
l.append("Apple")
l.append("Ball")
l.append("Cat")
print(l)

['Apple', 'Ball', 'Cat']

In [17]:
l = []
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l.append(x)
    print(l)
print(l)

Enter n = 5
Enter x = 10

[10]

Enter x = 20

[10, 20]

Enter x = 30

[10, 20, 30]

Enter x = 60

[10, 20, 30, 60]

Enter x = 50

[10, 20, 30, 60, 50]
[10, 20, 30, 60, 50]

In [33]:
#insert(): add data in a particular index/position and moves the orginal data in that index to next index number
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a.insert(1, "apple")
a.insert(9, "logical error") #this is logically wrong
print(a)

['Banana', 'apple', 'Apple', 'Aakash', 'Zebra', 'Xray', 'watch', 'logical error']

In [32]:
#extend(): similar to concatenation
a = [1,2,3,4,5]
b = [6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
#update: add data in a particular index/postion and deletes the original data in that index
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a[0] = "Nabin"
a

['Nabin', 'Apple', 'Aakash', 'Zebra', 'Xray', 'watch']

In [40]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a[0:2] = ["Sita", "Gita"]
a

['Sita', 'Gita', 'Aakash', 'Zebra', 'Xray', 'watch']

In [49]:
#delete: del (keyword), functions: remove(), pop()

In [47]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
del a[0]
a

['Apple', 'Aakash', 'Zebra', 'Xray', 'watch']

In [52]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
del a[0:2]
print(a)

['Aakash', 'Zebra', 'Xray', 'watch']

In [51]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a.remove("Apple")
print(a)

['Banana', 'Aakash', 'Zebra', 'Xray', 'watch']

In [55]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a.pop() #removes the last data/ data at the end
print(a)

['Banana', 'Apple', 'Aakash', 'Zebra', 'Xray']

In [54]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
a.pop(3)
print(a)

['Banana', 'Apple', 'Aakash', 'Xray', 'watch']

In [1]:
a = ["Banana", "Apple", "Aakash", "Zebra", "Xray", "watch"]
b = a.pop(3)
print(a)
print(b)

['Banana', 'Apple', 'Aakash', 'Xray', 'watch']
Zebra