In [34]:
# Set
# -No idexing
# -Multiple but no duplicate
# -Unordered
# -Mutable: add(), remove()
# there is no indexing as it is unordered
# it is mainly used as it does not take duplicate data
#There is no mutable datatype inside set

#So, No list, dict, set inside set  (Important for interview) as list, dict, and set are mutable data type so they cant be used as data or value inside set
# but tuple can be used as it is immutable datatype
# In {} there is no use of operator. so both set and dictionary  does not use operator, i.e. concat cant be done in it using '+' operator

In [12]:
s = set()
print(type(s))

<class 'set'>

In [9]:
s = {1, 2, 3, 4, 5, 6}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [13]:
#Unordered
s = {"Apple", "Ball", "Cat", "Dog", "Egg", "Fish"}
print(s)
print(type(s))

{'Fish', 'Egg', 'Ball', 'Apple', 'Cat', 'Dog'}
<class 'set'>

In [15]:
#NO duplicate
s = {"Apple", "Ball", "Cat", "Dog", "Egg", "Fish", "Apple", "Cat"}
print(s)

{'Fish', 'Egg', 'Ball', 'Apple', 'Cat', 'Dog'}

In [26]:
# NO Indexing
# s = {"Apple", "Ball", "Cat", "Dog", "Egg", "Fish"}
# s[0]
# Will give error

In [21]:
a = {}
b = {1}
c = {1:1}
print(type(a))
print(type(b))
print(type(c))

<class 'dict'>
<class 'set'>
<class 'dict'>

In [23]:
#Mutable

#Insert data into set
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Cat', 'Ball', 'Apple'}

In [27]:
#Remove data from set

s = {"Apple", "Ball", "Cat"}
s.remove("Apple")
print(s)

{'Cat', 'Ball'}

In [42]:
#there is no mutable datatype inside set

#So, No list, dict, set inside set  (Important for interview) as list, dict, and set are mutable data type so they cant be used as data or value inside set
# but tuple can be used as it is immutable datatype
# In {} there is no use of operator mostly. so both set and dictionary  does not use operator, i.e. concat cant be done in it using '+' operator

In [45]:
# functions in set:
# update: concatenates
# union
# intersection
# difference
# subset()
# superset()
# disjoint()

In [33]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9, 10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
#here U represents all the students in university, ms and apple represt student from U who have got job in ms and apple company respectively
U = {'Max', 'Eva','Tom', 'Sita', 'Luke', 'Hari', 'Manisha', 'William', 'Steve', 'Harry', 'Chris', 'Manish', 'Bill'}
ms = {"Harry", "William", "Luke", "Chris", "Hari", "Manish"}
apple = {"Steve", "Bill", "Tom", "Manisha", "Sita", "Hari", "Chris"}

common = ms.intersection(apple)

merge = ms.union(apple)

print("Common HR:", common)
print("After merging company, HR:", merge)

Common HR: {'Hari', 'Chris'}
After merging company, HR: {'Tom', 'Sita', 'Luke', 'Hari', 'Manisha', 'William', 'Steve', 'Harry', 'Chris', 'Manish', 'Bill'}

In [53]:
diff = ms.difference(apple)
print("Only MS = ", diff)

Only MS =  {'Harry', 'William', 'Manish', 'Luke'}

In [39]:
print("Only Apple = ", apple-ms)

Only Apple =  {'Tom', 'Sita', 'Manisha', 'Steve', 'Bill'}

In [44]:
#unemployed people
print(U-merge)

{'Eva', 'Max'}

In [46]:
# subset()
# superset()
# disjoint()

In [49]:
skills = {'python', 'css', 'html', 'ms word', 'ms powerpoint', 'C', 'js', 'react'}
jd = {'django', 'js', 'react'}
skills.intersection(jd)

{'js', 'react'}

In [52]:
len(skills.intersection(jd))/len(jd)*100

66.66666666666666