In [33]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Immutable
# used for static data(data that is not changed/remains same for long span of time or all time)
#usually pre-defined rather than user-defined

In [2]:
t = (1, 2, 3, 4, 5, 6, 7)
print(type(t))

<class 'tuple'>

In [5]:
t = ("Apple", "Ball")
s = ("Apple")
print(type(t))
print(type(s))

<class 'tuple'>
<class 'str'>

In [6]:
t = ("Apple", )
print(type(t))

<class 'tuple'>

In [11]:
#Indexing
t = ("Apple", "Ball", "Cat", "Dog")
print(t[0])
print(t[1])
print(t[2])
print(t[1:3])

Apple
Ball
Cat
('Ball', 'Cat')

In [12]:
#Duplicate
t = ("Apple", "Ball", "Cat", "Dog", "Apple")
print(t)

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [13]:
# NO append(), insert(), extend()
# NO update, del, pop(), remove(), sort(), reverse()

In [15]:
#Create:

t = tuple()
n = int(input("Enter n ="))

for i in range(n):
    x = int(input("Enter x="))
    t = t + (x,)

print(t)

Enter n = 5
Enter x= 4
Enter x= 3
Enter x= 6
Enter x= 2
Enter x= 6

(4, 3, 6, 2, 6)

In [17]:
print(max(t))
print(min(t))
print(sum(t))

6
2
21

In [21]:
a = 10,20,30,40,50
print(a)

(10, 20, 30, 40, 50)

In [28]:
#converting tuple into list 
t = ("Apple", "Ball", "Cat", "Dog", "Apple")
l = list(t)
del l[0]

print(l)

['Ball', 'Cat', 'Dog', 'Apple']

In [29]:
#converting list back to tuple 
t = tuple(l)
print(t)

('Ball', 'Cat', 'Dog', 'Apple')

In [31]:
# Tuple inside tuple

a = ((1, 2, 3),
    (4, 5, 6),
     (7, 8, 9))
print(a)
print(a[0][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
3