In [31]:
#Loop:
#For Loop: used during certaining case
#While Lopp: used during uncertaining case

In [1]:
#For Loop: used during certaining case
# range(5)      #0,1,2,3,4  (the loop runs for 5 times)
# range(1,5)    #1,2,3,4
# range(1,10,2) #1,3,5,7,9

In [15]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [16]:
for i in range(1,5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [23]:
for i in range(10,-4,-2):      #descending order
    print(i, "Hello World")

10 Hello World
8 Hello World
6 Hello World
4 Hello World
2 Hello World
0 Hello World
-2 Hello World

In [22]:
for i in range(1,10,2):     #ascending order
    print(i, "Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [28]:
#Multiplication table of n number
n = int(input("Enter number:"))
print("Multiplication table of", n)
for i in range(1, 11):
    print(n, '*', i, '=', n*i)

Enter number: 8

Multiplication table of 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [30]:
#Multiplication table of n numbers upto t terms.
n = int(input("Enter number:"))
t = int(input("Enter number of terms:"))
b = t+1
print("Multiplication table of", n)
for i in range(1, b):
    print(n, '*', i, '=', n*i)

Enter number: 5
Enter number of terms: 20

Multiplication table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [4]:
s=0
n = int(input("Enter no. of inputs:"))
for i in range(n):
    x = int(input("Enter no.:"))
    s=s+x    
    print(s)

Enter no. of inputs: 3
Enter no.: 100

100

Enter no.: 200

300

Enter no.: 300

600

In [2]:
#compound interest
s=0
n = int(input("Enter no. of inputs:"))
for i in range(n):
    x = int(input("Enter no.:"))
    s=s+x*1.1
    
    print(s)

Enter no. of inputs: 3
Enter no.: 100

110.00000000000001

Enter no.: 200

330.00000000000006

Enter no.: 300

660.0

In [1]:
#compound interest
s=0
n = int(input("Enter no. of inputs:"))
for i in range(n):
    x = int(input("Enter no.:"))
    s=s+x
    i = s + 0.1 * s
    print(i)

Enter no. of inputs: 3
Enter no.: 100

110.0

Enter no.: 200

330.0

Enter no.: 300

660.0

In [5]:
s=""
n = int(input("Enter no. of inputs:"))
for i in range(n):
    a = input("Enter name:")
    s= s + a + "\n"
    print(s)

Enter no. of inputs: 3
Enter name: ram

ram

Enter name: shym

ram
shym

Enter name: hari

ram
shym
hari