In [1]:
#nested list (list inside list)
a = [[1,2,3],[4,5,6],[7,8,9]]
print(len(a))

3

In [2]:
a = [["Ram", 30, "Kathmandu"],
     ["Shyam", 40, "Bhaktapur"],
     ["Hari", 35, "Lalitput"]]
print(a)

[['Ram', 30, 'Kathmandu'], ['Shyam', 40, 'Bhaktapur'], ['Hari', 35, 'Lalitput']]

In [4]:
#storing name, age and address as a list within a list
n = int(input("Enter n ="))
data = []
for i in range(n):
    name = input("Enter name:")
    age = int(input("Enter age:"))
    add = input("Enter address:")
    x = [name, age, add]
    data.append(x)
    print(data)
print(data)

Enter n = 2
Enter name: ram
Enter age: 34
Enter address: kathmandu

[['ram', 34, 'kathmandu']]

Enter name: shyam
Enter age: 43
Enter address: bkt

[['ram', 34, 'kathmandu'], ['shyam', 43, 'bkt']]
[['ram', 34, 'kathmandu'], ['shyam', 43, 'bkt']]

In [20]:
#Indexing
a = [['Ram', 30, 'Kathmandu'], 
     ['Shyam', 40, 'Bhaktapur'], 
     ['Hari', 35, 'Lalitpur']]
print(a[0])
print(a[0][0])
print(a[1])
print(a[2])

['Ram', 30, 'Kathmandu']
Ram
['Shyam', 40, 'Bhaktapur']
['Hari', 35, 'Lalitpur']

In [21]:
a.append(['Krishna', 45, 'Jhapa'])
print(a)

[['Ram', 30, 'Kathmandu'], ['Shyam', 40, 'Bhaktapur'], ['Hari', 35, 'Lalitpur'], ['Krishna', 45, 'Jhapa']]

In [19]:
for i in a:
    print(i)

['Ram', 30, 'Kathmandu']
['Shyam', 40, 'Bhaktapur']
['Hari', 35, 'Lalitpur']
['Krishna', 45, 'Jhapa']

In [29]:
#update
a = [['Ram', 30, 'Kathmandu'],
     ['Shyam', 40, 'Bhaktapur'],
     ['Hari', 35, 'Lalitpur']]
a[0][0] = "Ram Prasad"
a[1][1] = 43
a[2][0] = "Krishna"
print(a)

[['Ram Prasad', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]

In [30]:
del a[0][1]
print(a)

[['Ram Prasad', 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]

In [31]:
del a[1]
print(a)

[['Ram Prasad', 'Kathmandu'], ['Krishna', 35, 'Lalitpur']]

In [40]:
a = [['Ram Prasad', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]
a.remove(a[0])
a

[['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]

In [52]:
#Search in list
a = ["Ram", "Hari", "Shyam", "Sita", "Ramesh", "Sita"]
search = input("Enter name: ")
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter name:  ram

No

In [1]:
#Search and count in nested list
count = 0
a = [['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'],['Ram', 34, 'Duwakot'], ['Krishna', 35, 'Lalitpur'], ['Ram', 34, 'Duwakot']]
search = input("Enter name: ")  #can enter any string data but cant take int data as searching in string.
for i in a:
    if search in i:
        print(i)
        count = count+1
print("count:", count)

Enter name:  Ram

['Ram', 30, 'Kathmandu']
['Ram', 34, 'Duwakot']
['Ram', 34, 'Duwakot']
count: 3

In [71]:
l = len(a)
a = [['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'],['Ram', 34, 'Duwakot'], ['Krishna', 35, 'Lalitpur'], ['Ram', 34, 'Duwakot']]
search = input("Enter name: ") 
for i in range(l):
            if search in a[i]:
                print(i)

Enter name:  Ram

0
2
4

In [17]:
#Removing list having searching name
a = [['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'],['Ram', 34, 'Duwakot'], ['Krishna', 35, 'Lalitpur'], ['Ram', 34, 'Duwakot']]
search = input("Enter name: ")  #can enter any string data but cant take int data as searching in string.
for i in a:
    if search in i:
        a.remove(i)
print(a)

Enter name:  Ram

[['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]

In [20]:
#Logical Error (in intepreter
a = [['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'],['Ram', 34, 'Duwakot'], ['Ram', 34, 'Duwakot']]
search = input("Enter name: ")  #can enter any string data but cant take int data as searching in string.
for i in a:
    if search in i:
        a.remove(i)
print(a)

Enter name:  Ram

[['Shyam', 43, 'Bhaktapur'], ['Ram', 34, 'Duwakot']]

In [21]:
#Removing list having searching name by filtering
b = []
a = [['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'],['Ram', 34, 'Duwakot'], ['Ram', 34, 'Duwakot'], ['Krishna', 35, 'Lalitpur']]
search = input("Enter name: ")  #can enter any string data but cant take int data as searching in string.
for i in a:
    if search != i[0]:
        b.append(i)
print(b)

Enter name:  Ram

[['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]

In [24]:
#Removing list having searching name/address by filtering
b = []
a = [['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'],['Ram', 34, 'Duwakot'], ['Ram', 34, 'Duwakot'], ['Krishna', 35, 'Lalitpur']]
search = input("Enter name: ")  #can enter any string data but cant take int data as searching in string.
for i in a:
    if search != i[0] and search != i[2]:
        b.append(i)
print(b)

Enter name:  Duwakot

[['Ram', 30, 'Kathmandu'], ['Shyam', 43, 'Bhaktapur'], ['Krishna', 35, 'Lalitpur']]