In [1]:
#data type
a = 10               #int      only 0-9
b = 10.5             #float    only 0-9 with . only one digit after decimal
c = 'hello world'    #str      anytime between '' or ""
d = True             #bool     only True or False
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
#converting data types: int(), float(), str(), bool()
#int to float
a = 10
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [9]:
#float to int
a = 10.5
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [10]:
#int/float to str
a = 12
b = str(a)
print(b)
print(type(b))

12
<class 'str'>

In [14]:
# a = 'Ten'
# b = int(a)
# print(b)
#all string cant be converted into int (words and float inside the quotation cannot be changed to int)

In [17]:
#int to bool
a = 0
b = bool(a)
print(b)
print(type(b))
#every other number and string other than 0 gives True. Only 0 and null value/string gives False

False
<class 'bool'>

In [19]:
#str to bool
a = ''
b = bool(a)
print(b)
print(type(b))
#all string value gives True but if the string is empty or null, it gives false

False
<class 'bool'>

In [21]:
#all the var above are pre-defined variables
#all the var below are user-defined variables

In [27]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)
#the input function automically assumes the input to be string value.

Enter a =  13
Enter b =  23

36

In [28]:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = a+b
print(c)

Enter a =  23.5
Enter b =  12.3

35.8

In [30]:
#Simple Interest Calculation
p = int(input("Enter P = "))
t = float(input("Enter T = "))
r = float(input("Enter R = "))

i = p*t*r/100
print("The value of I = ", i)

Enter P =  100
Enter T =  2
Enter R =  4

The value of I =  8.0

In [32]:
#Area of a cirlce
r = float(input("Enter R = "))
a = 3.14 * r ** 2
print("The value of A = ", a)

Enter R =  7

The value of A =  153.86

In [35]:
#total marks in all subject and percentage
physics = float(input("Physics = "))
chemistry = float(input("Chemistry = "))
math = float(input("Math = "))
english = float(input("English = "))
nepali = float(input("Nepali = "))
total = physics + chemistry + math + english + nepali
percent = total/500 * 100 # or percent total/5
print("Total = ", total)
print("Percentage = ", percent, "%")

Physics =  76
Chemistry =  4
Math =  87
English =  54
Nepali =  67

Total =  288.0
Percentage =  57.599999999999994 %