In [1]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host= "localhost",
  user= "root",
  password= "",
  database = "python"
)
db = database.cursor()

In [2]:
# Write on table

sql = """INSERT INTO student (name, physics, chemistry, math, english, nepali, total, percentage, grade) 
VALUES ('Ramesh', '76', '78', '82', '60', '75', '370', '70', 'B');"""    
# because of triple code we can do this i.e., we can do enter and write the code inside in multiple line

db.execute(sql)
database.commit()

In [5]:
name = input("Enter name:")
physics = float(input("Physics = "))
chemistry = float(input("Chemistry = "))
math = float(input("Math = "))
english = float(input("English = "))
nepali = float(input("Nepali = "))

total = physics + chemistry + math + english + nepali
percent = total/500 * 100 # or percent total/5
if percent>=80:
    Grade = 'A'
elif percent>=60:
    Grade = 'B'
elif percent>=50:
    Grade = 'C'
else:
    Grade = 'F'

sql = f"""INSERT INTO student (name, physics, chemistry, math, english, nepali, total, percentage, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {percent}, '{Grade}');"""    

db.execute(sql)
database.commit()

Enter name: Riddhima
Physics =  40
Chemistry =  45
Math =  50
English =  61
Nepali =  52

In [8]:
#update/edit name
sn = int(input("Enter sn:"))
name = input("Enter name:")

sql = f"""UPDATE student SET name = '{name}' WHERE student.sn = {sn};"""

db.execute(sql)
database.commit()

Enter sn: 3
Enter name: Ramesh

In [7]:
#delete in sql

sn = int(input("Enter sn:"))
sql = f"""DELETE FROM student WHERE student.sn = {sn};"""

db.execute(sql)
database.commit()

Enter sn: 8

In [9]:
#update/edit sn

sn = int(input("Enter sn:"))
sn1 = int(input("Enter sn:"))

sql = f"""UPDATE student SET sn = {sn1} WHERE student.sn = {sn};"""

db.execute(sql)
database.commit()

Enter sn: 9
Enter sn: 7