In [4]:
#string
#String: Imutable datatype
a = "Hello World"
b = 'Hello World'
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
# '+' operator: concantenation
# '*' operator: duplicates string

In [3]:
a = "Hello World"
print(a*2)

Hello WorldHello World

In [20]:
a = "Hello World"
print(a[0])
print(a[0:5])   #slicing #prints only from 0 to 4th index
print(a[0:11:2])  #index increment by 2

H
Hello
HloWrd

In [21]:
a = "Hello World"
l = len(a)
print(l)

11

In [2]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(i, a[i])

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [3]:
a = "Hello World"
l = len(a)
i = 0
while i<l:
    print(i, a[i])
    i = i + 1

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [13]:
# String
name = input("Enter name:")
age = int(input("Enter age:"))
add = input("Enter address:")

info = "Hello World I am " + name + ". I am from " + add + ". I am " + str(age) + " years old."
print(info)

Enter name: ram
Enter age: 18
Enter address: bkt

Hello World I am ram. I am from bkt. I am 18 years old.

In [17]:
# String Formatting: 'f', no need for data conversion

name = input("Enter name:")
age = int(input("Enter age:"))
add = input("Enter address:")

info = f"Hello World I am {name}. I am from {add}. I am {age} years old."
print(info)

Enter name: ram
Enter age: 12
Enter address: bkt

Hello World I am ram. I am from bkt. I am 12 years old.

In [21]:
#create billing system
#product name?, price?, quantity?, total?
bill = ""
final_total = 0
n = int(input("Enter no. of inputs:"))
for i in range(n):
    product = input("Enter name of product:")
    price = float(input("Enter price of product:"))
    quantity = int(input("Enter quantity of product:"))
    total = quantity * price
    final_total = final_total + total
    bill =  bill + f"Product: {product} \t Price: {price} \t Qaunitity: {quantity} \t Total: {total} \n"
print(bill)
print("Final Total:", final_total)

Enter no. of inputs: 2
Enter name of product: apple
Enter price of product: 500
Enter quantity of product: 10
Enter name of product: mango
Enter price of product: 400
Enter quantity of product: 9

Product: apple 	 Price: 500.0 	 Qaunitity: 10 	 Total: 5000.0
Product: mango 	 Price: 400.0 	 Qaunitity: 9 	 Total: 3600.0

Final Total: 8600.0

In [20]:
#store name and phone no of give people
s = ""
n = int(input("Enter no. of inputs:"))
for i in range(n):
    name = input("Enter name:")
    phone = input("Enter phone number:")
    s = s + f"Name: {name} \t Phone No.: {phone}\n"
print(s)

Enter no. of inputs: 2
Enter name: ram
Enter phone number: 981234567
Enter name: shyam
Enter phone number: 981243576

Name: ram 	 Phone No.: 981234567
Name: shyam 	 Phone No.: 981243576

In [32]:
# Search in String
#Count() 
a = "Ram Shyam Hari Sita Gita Krishna Ram Hari"
search = input("Enter value for search:")
if search in a:
    print("yes")
    print(a.count(search))
else:
    print("no")

Enter value for search: a

yes
8

In [33]:
#upper(): changes all character in a string to uppercase
#lower(): changes all character in a string to lowercase
a = "Ram Shyam Hari Sita Gita Krishna Ram Hari"
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA GITA KRISHNA RAM HARI
ram shyam hari sita gita krishna ram hari

In [35]:
a = "Ram Shyam Hari Sita Gita Krishna Ram Hari".lower()
b = "rAm".lower()
print(a)
print(b)

ram shyam hari sita gita krishna ram hari
ram

In [41]:
# Search in String
#Count(), lower()
a = "Ram Shyam Hari Sita Gita Krishna Ram Hari".lower()
search = input("Enter value for search:").lower()
if search in a:
    print("yes")
    print(a.count(search))
else:
    print("no")

Enter value for search: b

no

In [49]:
#Replace
a = "Ram Shyam Hari Sita Gita Krishna Ram Hari Ramesh"
a.replace("Ram","Rama")
print(a)

Ram Shyam Hari Sita Gita Krishna Ram Hari Ramesh

In [50]:
#Replace
a = "Ram Shyam Hari Sita Gita Krishna Ram Hari Ramesh"
a= a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gita Krishna Rama Hari Ramaesh