In [18]:
# Dictionary
# -indexing
# -ordered
# -multiple and duplicate data 
# -mutable 
#-for loop is mostly used in it
# In {} there is no use of operator. so both set and dictionary  does not use operator, especially '+' operator to concat

In [2]:
a = {}
b = dict()

print(type(a))
print(type(b))

<class 'dict'>
<class 'dict'>

In [3]:
# syntax:
# d = {<key>:<value>, <key>:<value>, <key>:<value>} (only value can be duplicated, key is unique and cannot be duplicated)
#here key is just like the index

In [4]:
#Pre-defined dictionary:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}

#Ordered:
print(d)

#Indexing:
print(d['a'])
print(d['b'])
print(d['c'])

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
Apple
Ball
Cat

In [5]:
#Duplicate
d = {'a':'Apple', 'b':'Ball', 'c':'Cat', 'A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [6]:
#Adding value in dictionary
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
# CRUD
# C-Create
# R-Read
# U-Update
# D-Delte

In [8]:
#UPDATE value in dictionary
dic = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
dic['a'] = 'Ant' #value will be updated
print(dic)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [9]:
#dictionary on loop
a = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
for i in a:
    print(i)   #only key is updated to i

a
b
c

In [10]:
a = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
for i in a.values():
    print(i)  #only values is updated to i

Apple
Ball
Cat

In [11]:
#Read
a = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
for i in a.items():
    print(i)   #both keys and values are updated to i

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [12]:
#converting nested list into dictionary
l = [['a', 'Apple'],
    ['b', 'Ball'],
    ['c', 'Cat']]
dic = dict(l)
print(dic)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
#user-defined dictionary
#Create
d={}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name:")
    phone = input("Enter phone no.:")
    d[name] = phone   #here name is key and phone is value
print(d)

Enter n = 2
Enter name: ram
Enter phone no.: 9832457356
Enter name: haru
Enter phone no.: 9824537153

{'ram': '9832457356', 'haru': '9824537153'}

In [14]:
#Update
d ={'ram': '9851233298', 'hari': '984232769'}
d['ram'] = '981234567'
d
#this shows the data is mutable

{'ram': '981234567', 'hari': '984232769'}

In [15]:
#Delete: del, pop()
d ={'ram': '9851233298', 'hari': '984232769'}
del d['ram'] #both key and value is deleted in here
d

{'hari': '984232769'}

In [16]:
d ={'ram': '9851233298', 'hari': '984232769'}
d.pop('hari') #both key and value is deleted in here
d

{'ram': '9851233298'}

In [17]:
d ={'ram': '9851233298', 'hari': '984232769'}
b = d.pop('hari') #only value is moved to another variable, this cant be done in 'del'
print(d)
print(b)

{'ram': '9851233298'}
984232769

In [18]:
#list inside dictionary
info = {'Ram': [9841235678, 971234568],
       'Hari': [9843216587, 973217456]}
info

{'Ram': [9841235678, 971234568], 'Hari': [9843216587, 973217456]}

In [19]:
info = {'name': ['Ram', 'Hari'],
        'ncell': [9841235678, 9843216587],
        'ntc': [971234568, 973217456]}
info

{'name': ['Ram', 'Hari'],
 'ncell': [9841235678, 9843216587],
 'ntc': [971234568, 973217456]}

In [20]:
print(info['name'][0])
print(info['ntc'][0])
print(info['ncell'][0])

Ram
971234568
9841235678

In [22]:
i = int(input("Enter index:"))
info = {'name': ['Ram', 'Hari'],
        'ncell': [9841235678, 9843216587],
        'ntc': [971234568, 973217456]}
print(info['name'][i])
print(info['ntc'][i])
print(info['ncell'][i])

Enter index: 1

Hari
973217456
9843216587

In [23]:
#Creating list inside dictionary
info = {'name': [],
        'ncell': [],
        'ntc': []}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name:")
    ncell = input("Enter ncell phone no.:")
    ntc = input("Enter ntc phone no.:")
    
    info['name'].append(name)
    info['ncell'].append(ncell)
    info['ntc'].append(ntc)

print(info)

Enter n = 2
Enter name: ram
Enter ncell phone no.: 9832435476
Enter ntc phone no.: 9743687424
Enter name: sita
Enter ncell phone no.: 9843567208
Enter ntc phone no.: 9753083255

{'name': ['ram', 'sita'], 'ncell': ['9832435476', '9843567208'], 'ntc': ['9743687424', '9753083255']}

In [24]:
#Creating list inside dictionary
info = {'name': [],
        'ncell': [],
        'ntc': []}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name:")
    ncell = input("Enter ncell phone no.:")
    ntc = input("Enter ntc phone no.:")
    
    info['name'].append(name)
    info['ncell'].append(ncell)
    info['ntc'].append(ntc)

print(info)

info['name'][0] = 'Shyam'
del info['name'][0]
print(info)

Enter n = 2
Enter name: ram
Enter ncell phone no.: 9857634456
Enter ntc phone no.: 9754900654
Enter name: hari
Enter ncell phone no.: 9854673490
Enter ntc phone no.: 9714099345

{'name': ['ram', 'hari'], 'ncell': ['9857634456', '9854673490'], 'ntc': ['9754900654', '9714099345']}
{'name': ['hari'], 'ncell': ['9857634456', '9854673490'], 'ntc': ['9754900654', '9714099345']}