In [4]:
# #WAP to take data from user and create dict inside dict and also do CRUD
# #example3

# work = {}
# info = {}

# n = int(input("Enter n="))

# for i in range(n):
#     role = input("Enter your role:")
#     name = input("Enter your name:")
#     exp = input("Enter your experience:")

#     if role not in work:
#         work[role]={}
        
#     work[role][name] = exp

# print(work)

In [5]:
work = {'software engineer': {'name': 'Ram', 'experience': 15}, 
          'data scientist': {'name': 'Sita', 'experience': 20}, 
          'web designer': {'name': 'Laxman', 'experience': 15}}

In [94]:
#WAP to take data from user and create dict inside dict and also do CRUD
#example1
work = {}
info = {}

n = int(input("Enter n="))

for i in range(n):
    role = input("Enter your role:")
    name = input("Enter your name:")
    exp = input("Enter your experience:")
    
    work[role] = {'name': name, 'experience': exp}
print(work)

Enter n= 2
Enter your role: software engineer
Enter your name: ram
Enter your experience: 13
Enter your role: data analyst
Enter your name: sita
Enter your experience: 14

{'software engineer': {'name': 'ram', 'experience': '13'}, 'data analyst': {'name': 'sita', 'experience': '14'}}

In [100]:
#WAP to take data from user and create dict inside dict and also do CRUD
#example2

#Create:

work = {}
info = {}

n = int(input("Enter n="))

for i in range(n):
    role = input("Enter your role:")
    name = input("Enter your name:")
    exp = input("Enter your experience:")

    info['name'] = name
    info['experience'] = exp
    work[role] = dict(info)

print(work)

Enter n= 2
Enter your role: software engineer
Enter your name: ram
Enter your experience: 11
Enter your role: data analyst
Enter your name: sita
Enter your experience: 13

{'software engineer': {'name': 'ram', 'experience': '11'}, 'data analyst': {'name': 'sita', 'experience': '13'}}

In [101]:
#Read

for i in work:
    print(i)

for i in work.values():
    print(i)
    
for i in work.items():
    print(i)

software engineer
data analyst
{'name': 'ram', 'experience': '11'}
{'name': 'sita', 'experience': '13'}
('software engineer', {'name': 'ram', 'experience': '11'})
('data analyst', {'name': 'sita', 'experience': '13'})

In [102]:
#Update:

work['data analyst']['name'] = 'gita'
work['software engineer']['experience'] = '13' 
print(work)

{'software engineer': {'name': 'ram', 'experience': '13'}, 'data analyst': {'name': 'gita', 'experience': '13'}}

In [103]:
#Delete:

del work['software engineer']['experience']
work.pop('data analyst')

print(work)

{'software engineer': {'name': 'ram'}}

In [9]:
employee = [{'role': 'software engineer', 'name': 'Ram'}, {'role': 'data analyst', 'name': 'Manish'}]

In [63]:
#WAP to take data from user and create dict inside list and also do CRUD

#Create:

employee = []

n = int(input("Enter n="))

for i in range(n):
    role = input("Enter your role:")
    name = input("Enter your name:")

    info = {}
    
    info['role'] = role
    info['name'] = name
    employee.append(info)
    
print(employee)

Enter n= 2
Enter your role: software engineer
Enter your name: ram
Enter your role: data analyst
Enter your name: sita

[{'role': 'software engineer', 'name': 'ram'}, {'role': 'data analyst', 'name': 'sita'}]

In [64]:
#Read:

for i in employee:
    print(i)

{'role': 'software engineer', 'name': 'ram'}
{'role': 'data analyst', 'name': 'sita'}

In [65]:
#Update:

employee[0]['role'] = 'data scientist'
employee[1]['name'] = 'Manish'

print(employee)

[{'role': 'data scientist', 'name': 'ram'}, {'role': 'data analyst', 'name': 'Manish'}]

In [66]:
#Delete:

del employee[1]['name']

employee.pop(0)
print(employee)

[{'role': 'data analyst'}]